# Виртуальное окружение
venv/
.venv/

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
eggs/
dist/
build/
*.spec

# Базы данных (локальные)
*.db
*.sqlite3

# IDE
.vscode/
.idea/
*.swp
*.swo

# Операционные системы
.DS_Store
Thumbs.db

# Логи
*.log